.display
    position: fixed
    width: 100%
    height: 100%
    display: flex
    flex-direction: column
    align-items: center
    padding-top: 10%
    h1
        -webkit-animation: fadeIn 500ms
        animation: fadeIn 500ms
    .botones
        margin-top: 5%
        width: 100%
        height: 40%
        display: flex
        flex-direction: column
        justify-content: space-around
        align-items: center
        padding-left: 10px
        padding-right: 10px 
        a
            animation: fadeInMoving 1s
            -webkit-animation: fadeInMoving 1s
            width: 90%

@keyframes fadeIn
    0%
        opacity: 0
    100%
         opacity: 1

@keyframes fadeInMoving
    0%
        opacity: 0
        transform: translateY(50px)
    100%
        opacity: 1
        transform: translateY(0px)
        